html, body {
   height: 100%;
   background-color: #FFFFFF;
   font-family: monospace;
   border: 0px solid transparent;
   /* font-size: 12px; */
   margin: 10px 0px 0px 10px;
   min-height: 100%;
   padding: 0px 0px 0px 0px;
   width: 100%;
}
